---
import Image from "../components/Image.astro";
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
---

<Layout title="Mi CV">
  <BackButton />
  <section class="flex justify-center items-center mt-[8vh]">
    <Image />
  </section>
</Layout>
