---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sections from "../components/Sections.astro";
---

<Layout title="Portfolio Diego Adrian">
  <main>
    <Navbar />
    <Sections />
  </main>
</Layout>
<script type="text/javascript" src="../components/navbar.js"></script>
