<form class="flex flex-col mt-12 justify-between text-center">
  <input class="mb-5" type="text" placeholder="Enter your full name" />
  <input
    class="mb-5"
    type="email"
    name="email"
    placeholder="Enter your email"
  />
  <input
    class="mb-5"
    type="text"
    name="message"
    placeholder="Enter your message"
  />
  <input class="mb-5" type="submit" value="Submit" />
</form>
