---

---

<nav>
  <h1 class="end">Diego Adrian</h1>
  <div class="nav-items">
    <span class="background" id="background"></span>
    <a href="#profile">
      <span class="material-symbols-outlined">person</span>
    </a>
    <a href="#skills">
      <span class="material-symbols-outlined">skillet</span>
    </a>
    <a href="#contact">
      <span class="material-symbols-outlined">mail</span>
    </a>
  </div>
</nav>
<style>
  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: #030308;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav h1 {
    font-size: 16px;
  }

  .nav-items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: var(--button-size);
    height: var(--button-size);
    display: grid;
    place-items: center;
    transition: 0.3s;
  }

  .background::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(#0076ec, #31148c);
  }

  .nav-items a {
    display: grid;
    place-items: center;
    width: var(--button-size);
    height: var(--button-size);
    padding: 10px;
    color: #f9f9f9;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }
</style>
